{% extends 'nav1.html' %}
{% load static %}
{% block content %}
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/0b1b56eff4.js" crossorigin="anonymous"></script>
</head>
<style>
	body{
		background-color: bisque;
	}
</style>
<body>
  <div class="card mb-3">
    <img class="card-img-top" src="https://cdn.textstudio.com/output/sample/normal/1/4/5/6/patient-logo-358-6541.png" height="200" alt="Card image cap">
    <div class="card-body"style="background-color: bisque;">
      <h5 class="card-title" style="background-color: bisque;">Welcome {{patient.name}}</h5>
      <p class="card-text" style="background-color: bisque;">
        “One moment of patience may ward off great disaster. One moment of impatience may ruin a whole life.” <br>
        "Two things define you: your patience when you have nothing and your attitude when you have everything."</p>
    </div>
  </div>

  <br><br><br><br><br>
           <footer class="container mt-5 text-center">
            <div class="card">
              <h5 class="card-header">MAK Hospital</h5>
              <div class="card-body">
                <h5 class="card-title">since 1967</h5>
                <p class="card-text">connect us with on <br> <i class="fa-regular fa-envelope"></i> email <i class="fa-brands fa-facebook"></i>facebook <i class="fa-brands fa-twitter"></i>Twitter</p>
              </div>
            </div>
	       </footer>
{% endblock content %}