{% extends 'nav3.html' %}
{% load static %}
{% block content %}
<style>
body{
    background-color: bisque;
  }
</style>
<br>
<div class="container card shadow m-5" style="background-color: bisque;">
		<div class="card-body" >
			<h5 class="p-2" style="border-bottom: 2px solid orange">Add Patient</h5>
             <br>
			<div class="container-fluid">
				<form action="{% url 'pharsignup' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
					<div class="form-row">

						<div class="col-sm-12">
							<div class="form-group">
								<label>Pharmacy Name</label>
								<input type="text" name="name1" class="form-control" placeholder="Enter Doctor Name" required>
							</div>
						</div>

	
						<div class="col-sm-12">
							<div class="form-group">
								<label>Username</label>
								<input type="text" name="User" class="form-control" placeholder="enter User" required>
							</div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" name="pass" class="form-control" placeholder="Enter password" required>
                                </div>
                                
							
					</div>
	
					<input type="submit" value="Submit" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
	
	<br><br>
<div>
           <footer class="container mt-5 text-center">
            <div class="card">
              <h5 class="card-header">MAK Hospital</h5>
              <div class="card-body">
                <h5 class="card-title">since 1967</h5>
                <p class="card-text">connect us with on <br> <i class="fa-regular fa-envelope"></i> email <i class="fa-brands fa-facebook"></i>facebook <i class="fa-brands fa-twitter"></i>Twitter</p>
              </div>
            </div>
	       </footer>
</div>

{% endblock %}